<div id="myProgress" ng-show="currentUser">
  <div id="myBar"></div>
</div>
<script type="text/javascript"> 
   var score = 100;
    document.getElementById("myBar").style.width =score+'%'; 
</script>
    <div class="conte enter-stage">
      <h1> Thank you for playing with us.</h1>
      <h2> Your Score is:- {{ currentUser.score }} </h2>
    </div>