<div id="myProgress" ng-show="currentUser">
  <div id="myBar"></div>
</div>
<script type="text/javascript"> 
   var score = 50;
    document.getElementById("myBar").style.width =score+'%'; 
</script>
<div class="conte enter-stage">
      <h3>Which one of the mentioned movies is highest-grossing India film ?</h3><hr>
      <button type="submit" class="button" ng-click="right()" >PK</button><hr>
      <button type="submit" class="button" ng-click="wrong()" >Baahubali 2: The Conclusion</button><hr>
      <button type="submit" class="button" ng-click="wrong()" >SULTAN</button><hr>
      <button type="submit" class="button" ng-click="wrong()" >DANGAL</button><hr>
    </div>