<div id="myProgress" ng-show="currentUser">
  <div id="myBar"></div>
</div>
<script type="text/javascript"> 
   var score = 80;
    document.getElementById("myBar").style.width =score+'%'; 
</script>
<div class="conte enter-stage">
      <h3>Which bollywood movie has maximum number of songs ?</h3><hr>
      <button type="submit" class="button" ng-click="wrong()" >TAAL</button><hr>
      <button type="submit" class="button" ng-click="wrong()" >ROCKSTAR</button><hr>
      <button type="submit" class="button" ng-click="wrong()" >SALAAM BOMBAY!</button><hr>
      <button type="submit" class="button" ng-click="right()" >INDRASABHA</button><hr>
    </div>