<div id="myProgress" ng-show="currentUser">
  <div id="myBar"></div>
</div>
<script type="text/javascript"> 
   var score = 30;
    document.getElementById("myBar").style.width =score+'%'; 
</script>
<div class="conte enter-stage">
      <h3>Who is the first Indian to win an Academy Award (Oscar) ?</h3>
      <button type="submit" class="button" ng-click="wrong()" >Satyajit Ray</button><hr>
      <button type="submit" class="button" ng-click="right()">Bhanu Athaiya</button><hr>
      <button type="submit" class="button" ng-click="wrong()">Mehboob Khan</button><hr>
      <button type="submit" class="button" ng-click="wrong()">A.R. Rahman</button>
    </div>