<div id="myProgress" ng-show="currentUser">
  <div id="myBar"></div>
</div>
<script type="text/javascript"> 
   var score = 0;
    document.getElementById("myBar").style.width =score+'%'; 
</script>
    <div class="conte enter-stage">
      <h3>Which bollywood movie has highest Imdb rating till date?</h3><hr>
      <button type="submit" class="button" ng-click="wrong()">DANGAL</button><hr>
      <button type="submit" class="button" ng-click="wrong()">3 IDIOTS</button><hr>
      <button type="submit" class="button" ng-click="right()">SANJU</button><hr>
      <button type="submit" class="button" ng-click="wrong()">VIKARAM VEDHA</button>
      <hr>
    </div>