  <form class="form-horizontal" ng-submit="logIn(user)">
    <div class="cont enter-stage-south">
      <h1 style="text-align: center;">Login</h1>
      <h2><input type="text" class="form-control" ng-model="user.username" placeholder="Username" required>
      <input type="email" class="form-control" ng-model="user.email" placeholder="Email" required></h2>
      <button type="submit" class="btn btn-primary btn-block">Log In</button>
    </div>
  </form>